.grid-section {
    gap: 12px;
}

.first-grid-section{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 1670px;
}

.second-grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    gap: 8px;
    padding: 10px;
    margin-bottom: 6px;
}

#grid-item-1 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-headphones.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-1{
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: transform .4s ease-in-out;
  }
}

#grid-item-1{
    &:focus,
    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }
  }

#grid-item-2 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-watch.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-2{
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      background-size: cover;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }
  }
  
  #grid-item-2{
      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }
    }

#grid-item-3 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-exchange-small.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-3{
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      background-size: cover;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }
  }
  
  #grid-item-3{
      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }
    }

#grid-item-4 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-leadership.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-4{
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      background-size: cover;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }
  }
  
  #grid-item-4{
      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }
    }

#grid-item-5 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-support.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-5{
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      background-size: cover;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }
  }
  
  #grid-item-5{
      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }
    }

#grid-item-6 {
    width: 100%;
    height: 100%;
    background: url('/public/realme-about.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow: hidden;
    cursor:pointer;
}

#grid-item-6{
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      background-size: cover;
      transform-origin: center;
      transition: transform .4s ease-in-out;
    }
  }
  
  #grid-item-6{
      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }
    }

.grid-floater{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    position: relative;
    z-index: 55;
}

.grid-image-title{
    font-size: 17.7px;
    font-weight: 450;
    margin-bottom: 3px;
}

.grid-image-subtitle{
    font-size: 12.4px;
    font-weight: 500;
}

.white-text{
    color: white;
}


/* xs */
@media (min-width: 320px){
    /* .first-grid-section{
        height: 1718px;
    } */
}

/* sm */
@media (min-width: 425px){
    .first-grid-section{
        height: 2360px;
    }

    .grid-floater{
        margin-top: 36px;
    }
    
    .grid-image-title{
        font-size: 23.8px;
        margin-bottom: 6px;
    }
    
    .grid-image-subtitle{
        font-size: 16.7px;
    }
}

@media (min-width: 525px){
    /* .first-grid-section{
        height: 2826px;
    } */
}

/* md */
@media (min-width: 625px){
    .first-grid-section{
        height: 3260px;
    }
    
    .grid-floater{
        margin-top: 55px;
    }
    
    .grid-image-title{
        font-size: 35px;
        margin-bottom: 9px;
    }
    
    .grid-image-subtitle{
        font-size: 24.5px;
    }
}

/* lg */
@media (min-width: 824px){
    .first-grid-section{
        grid-template-columns: 1fr 1fr;
        height: 1200px;
    }

    .grid-floater{
        margin-top: 36px;
    }
    
    .grid-image-title{
        font-size: 23.8px;
        margin-bottom: 6px;
    }
    
    .grid-image-subtitle{
        font-size: 16.7px;
    }
}

/* xl */
@media (min-width: 1024px){
    .first-grid-section{
        height: 1450px;
    }

    .second-grid-section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;
        padding: 70px 50px 35px;
    }

    .grid-floater{
        margin-top: 50px;
    }
    
    .grid-image-title{
        font-size: 30px;
        margin-bottom: 16px;
    }
    
    .grid-image-subtitle{
        font-size: 20px;
    }
}

/* 2xl */
@media (min-width: 1425px){
    #grid-item-3 {
        background: url('/public/realme-exchange.webp');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}